.main-container {
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  max-width: 50%;

  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: medium;
    font-weight: 500;
    margin: 1rem 0;
  }

  p {
    font-size: small;
    font-weight: lighter;
  }

  img {
    width: 100%;
    margin-bottom: 2rem;

    &:hover {
      scale: 1.035;
    }
  }

  .btn {
    margin-top: 1rem;
  }

  @media only screen and (max-width: 768px) {
    max-width: 100%;
    text-align: center;
    align-items: center;

    h1 {
      font-size: 3rem;
    }
  }
}
